#runa_container {
	width: 80%;
	margin: 0 auto;
	max-width: 800px !important;
	min-height: 70vh;
}

#notification_email {
	margin: 1em 0 1em;
}

/*
	loading 
*/

.loading_parent{
    width:100vw;
    height:100vh;
    position: relative;
}

.loading_centered{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}
