#notification_email {
	margin: 1em 0 1em;
}

/*
	Extras que podria utilizar
*/

#loading-text {
	margin-top:-30px;
}

#response-output {
	display: none;
	margin-top: -60px;
	border: 1px dotted blue;
	width: 100%;
	max-width: 500px !important;
	padding: 2px;
}